div.social-buttons {
    margin: 1.5rem 0;
    > button {
    border: 1px solid #000;
    color: #000;
    font-family: Novecento Sans Web,sans-serif;
    font-size: 14.4px;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    > i {
        margin-right: 10px;
    }
    }
    > button:hover {
    background: #248a83;
    border: none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    }
}
