@import "./variables.scss";
@import "./general.scss";
@import "./_socialbuttons.scss";

#content > div.adventure {
    margin-bottom: 3rem;
    margin: 0 0 4.5rem;

> h2 {
    margin: 1.5rem auto;
    max-width: 800px;
    font-size: 2rem;
}
> img {
    height: auto;
    max-width: 100%;
}
> p:nth-child(3){
    font-family: $accent-font;
    font-size: 1.2rem;
}
> p {
    font-size: 1.1rem;
    font-family: $main-font;
    margin: 1.5rem auto;
    max-width: 800px;
}
}

#content > div.adventure-buttons {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
