@import "./variables.scss";
@import "./general.scss";
@import "./_form.scss";

/*
.blog-post-header {
  > div > img {
    height: auto;
    max-width: 70%;
  }
  > .entry-header {
    > h1{
      background-color: #248a83;
      color: #fff;
      font-size: 33.6px;
      font-size: 2.1rem;
      left: 0;
      padding: .75rem 1.5rem;
      position: absolute;
      margin-top: 2.25rem;
      max-width: 75%;
      top: 0;
    }
    > div {
      background-color: #248a83;
      bottom: 0;
      color: #fff;
      display: inline-block;
      font-family: $accent-font;
      padding: 1.00005rem 1.5rem;
      position: absolute;
      right: 0;
      text-transform: uppercase;
      > span > span > a {
        color: #fff;
      }
      > span > a > time.entry-date.published {
        color: #fff;
      }
    }
  }
}*/
/*

.blog-post-content {
  display: flex;
  padding-top: 60px;
  overflow: hidden;
  > #primary {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    padding-top: 3rem;
    width: 73%;
  }}


  header.entry-header {
    position: absolute;
    height:74.4vh;
    width: 65.7vw;
  }

  img.attachment-post-thumbnail {
    height: auto;
    max-width: 100%;
    height: 100%;
    vertical-align: top;
  }

  h1.entry-title {
    background-color: #248a83;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
    top: 0;
  }

  div.entry-meta{
    background-color: #248a83;
    bottom: 0;
    color: #fff;
    display: inline-block;
    font-family: $accent-font;
    padding: 1.00005rem 1.5rem;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    span.posted-on > a {
      color: #fff;
    }
    span.byline > span.author > a {
      color: #fff;
    }
}


 /*   > main > article > #isthisworking {
      > header {
        position: absolute;
        height:68vh;
        > h1{
          background-color: #248a83;
          color: #fff;
          font-size: 33.6px;
          font-size: 2.1rem;
          left: 0;
          padding: .75rem 1.5rem;
          margin-top: 2.25rem;
          max-width: 75%;
          top: 0;
        }
        > div {
          background-color: #248a83;
          bottom: 0;
          color: #fff;
          display: inline-block;
          font-family: $accent-font;
          padding: 1.00005rem 1.5rem;
          right: 0;
          text-transform: uppercase;
        }
      }
      > div > img{
        height: auto;
        max-width: 100%;
        height: 100%;
        vertical-align: top;
      }
    }

*/
