@import "./variables.scss";
@import "./general.scss";
@import "./_form.scss";


body.post-template-default.single.single-post {
#content {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding-top: 58px;
  width: 1120px;
> div.blog-post-content {
  display: flex;
 /* margin-left: auto;
  margin-right: auto;
  padding-top: 58px;*/
  height: auto;
  border-right: 1px solid #e1e1e1;
  padding-right: 5%;
  padding-top: 3rem;
  padding-bottom: 5rem;
  width: 73%;
  flex-direction: row;
  > #primary {
    >#main > .post > div.post-thumbnail > img{
      width:100%;
      height: auto;
    }
  }
}
}
}
