@import "./variables.scss";
@import "./general.scss";
@import "./_form.scss";

.find-us {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 58px;
    width: 1120px;
    flex-direction: row;
    .find-us-content {
        height: auto;
        border-right: 1px solid #e1e1e1;
        width: 80%;
        padding-right: 5%;
        padding-top: 3rem;
        padding-bottom: 5rem;
        h2 {
            font-size: 2.1rem;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
        }
    #secondary {
        width: 20%;
        padding-left: 5%;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
}
#wpgmza_map {
    padding-bottom: 3rem;
}
