@import "./variables.scss";
@import "./_navigation.scss";
@import "./general.scss";


// SKIP TO CONTENT
#page > a {
  position:absolute;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  z-index:-999;
}

#page > a:focus, #page > a:active {
  color: #fff;
  background-color:#000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow:auto;
  margin: 10px 35%;
  padding:5px;
  border-radius: 15px;
  border:4px solid yellow;
  text-align:center;
  font-size:1.2em;
  z-index:999;
}
// SKIP TO CONTENT END


#masthead {
  background-color: hsla(0,0%,100%,.85);
  border-bottom: 1px solid #e1e1e1;
  padding: .5rem 0;
  position: fixed;
  transition: top .5s linear;
  width: 100%;
  z-index: 3;
  > div.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 1120px;
    > div.site-branding > a > img{
      height: 33px;
    }
    > #site-navigation > #primary-menu > ul > li {
      list-style: none;
    }
  }
}


