@import "./font-faces";

//----------//
//VARIABLES//
//---------//

//Structure
$website-width: 1120px;
$base-spacing: 1.5rem;
$solid-border: 1px solid #e1e1e1;
$dashed-border: 1px dashed #c8c8c8;
//Typography
$base-font-size: 16px;
$base-font-color: #404040;
$base-line-height: 1.75;
$main-font: 'Merriweather Web';
$accent-font: 'Novecento Sans Web';
//Colors
$base-background-color:#ffffff;
$brand-color-green:#248A83;
$brand-color-purple:#2f1339;
$brand-color-orange:#d99054;
$brand-color-yellow:#f0e4d1;
$brand-color-lightgrey:#a1a1a1;
$brand-color-mediumgrey:#808080;
